@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

:root{
    /* color */
    --primary-color:#0c87c9;
    --bg-color:#fff;
    --text-color:#090A0A;
    --sub-text-color:#6C7072;

    /* font-size */
    --heading:24px;
    --big-heading:32px;
    --f-12:12px;
    --f-16:16px; /* standard font size for app*/



    
}

.dark{
--bg-color:#141414;
--text-color:#fff;
}
body{
    background-color: var(--bg-color);
    overflow-x: hidden;
    color: var(--text-color);
}

.container{
    margin: auto;
    max-width: 1300px;
  padding: 1.5em;
  height: calc(100% - 3em);
  width: calc(100% -3em);
 

}
.logo svg{
    color: var(--primary-color);
}
button{
    outline: none;
    border:none;
    padding: 0.5em;
    background-color:var(--primary-color);
    color: #fff;
    padding: 16px 0;
    border-radius: 2em;
    text-align: center; 
    font-size: 16px;
    font-weight: 600;
}
.swiper-slide{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}
.swiper-slide img{
    margin: 0 !important;
}
