@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

:root {
    /* color */
    --primary-color: #0c87c9;
    --primary-off: #0651795a;
    --bg-color: #fff;
    --text-color: #090A0A;
    --sub-text-color: #6C7072;
    --border-color: #E3E5E5;
    --inactive: rgb(108, 112, 114, 60%);
    --inactive-1: #6C7072;
    --bg-1: #F7F9FA;
    --bg-2: #FBFBFB;
    --dropdown: #FFFFFF;
    --tab-bg: #F2F4F5;
    --tab-hover: #FFFFFF;
    --product:#DCE0E6;
    --chat-bg:linear-gradient(to right, #42a2e2ab, #6dd5fa, #d8f0f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* font-size */
    --heading: 1.5rem;
    --big-heading: 2rem;
    --f-12: 0.75rem;
    --f-16: 1rem;
    --f-20: 1.25rem;
    /* standard font size for app*/
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.dark {
    --bg-color: #141414;
    --text-color: #fff;
    --sub-text-color: #cacaca;
    --bg-1: #1c1c1c;
    --bg-2: #1c1c1c;
    --tab-bg: #202325;
    --tab-hover: #303437;
    --dropdown: #1c1c1c;
    --border-color: #303437;
    --inactive-1: #979C9E;
    --product:#303437;
    --chat-bg:radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); 

    --box-shadow: 0 0 2px var(--primary-color);
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
    color: var(--text-color);
}
.primary-bg {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.primary-br {
    border-color: var(--primary-color);
    border: 3px solid var(--primary-color);

}

.container {
    max-width: 800px;
    margin: auto;
    padding: 68px 0em 80px 0em;
}

.header {
    position: fixed;
    top: 0;
    padding: 1em;
    width: calc(100vw - 2em);
    background: var(--bg-color);
    z-index: 100;
    
}


.sub{
    font-size: 0.875em;
}
.hover-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: 0.5em;
}
.hover-btn:hover{
    background-color: var(--tab-bg);
    

}
.dim{
    color: var(--sub-text-color);
}
.logo svg {
    color: var(--primary-color);
}

.link {
    color: var(--primary-color);
}


.swiper-slide {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.swiper-slide img {
    margin: 0 !important;
}

.swiper-pagination-bullet {
    background-color: var(--primary-color) !important;
}

a {
    text-decoration: none;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
}

h3 {
    font-size: 1em;
    font-weight: 600;
}

.list-content {
    padding: 1em;
    width: calc(100% - 2em);
}

.list-content:hover {
    background-color: var(--bg-1);
}

button,
.button {
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.5em 2em;
    border-radius: 2em;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    text-transform: capitalize;


}
button.mini,.button.mini{
padding: 0.5em 1em;
border-radius: 0.5em;
font-weight: 400;
}
.outline-button {
    border-radius: 2em;
    border: 1px solid var(--primary-color);
}

input {
    border: none;
    outline: none;
    background: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
}

input::placeholder {
    font-weight: 400;
    /* Adjust the font weight as needed */
}

.input {
    padding: 0.8em;
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    transition: 0.5s;
}

.input:focus-within {
    border-color: var(--primary-color);

}

.verification-input {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.verification-input input {
    width: 30%;
}

.profile-img {
    border: 2.7008px solid #E6EBF2;
    border-radius: 50%;
}

.profile-img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.notification {
    position: relative;
}
.active-btn{
    background: var(--tab-bg);
    padding: 0.3em;
    border-radius: 0.5em;
}
.topbar {
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
}

.bottom-bar {
    position: sticky;
    bottom: 0;
}

.notification-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #B81717;
    color: white;
    border-radius: 50%;

    font-size: 0.3125rem;
    width: 13px;
    height: 12px;
}

/* ======footer start===== */

.middle-contents {
    overflow-y: scroll;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navigation {
    position: relative;
    width: 100%;
    max-width: 450px;
    height: 80px;
    margin: auto;
    background-color: var(--bg-1);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.item-list {
    width: 350px;
}

.navigation .item-list .item {
    position: relative;
    width: 70px;
    cursor: pointer;
}

.navigation .item-list .item .icon {
    position: relative;
    display: block;
    line-height: 75px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.navigation .item-list .item .icon {
    transition: 0.5s;
    z-index: 2;
}

.navigation .item-list .item.active .icon {
    transform: translateY(-43px);
    color: #fff;
}

.navigation .item-list .item p {
    position: absolute;
    letter-spacing: 0.05rem;
    transition: 0.2s;
    opacity: 0;
    transform: translateY(30px);
    color: var(--primary-color);
}

.navigation .item-list .item.active p {
    opacity: 1;
    transform: translateY(15px);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 6px solid var(--bg-color);
    transition: 0.2s;
    z-index: 1;
    box-shadow: var(--primary-color) 0px 1px 2px -1.9px;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    left: -20px;
    background: transparent;
    border-top-right-radius: 1.5rem;
    /* box-shadow: 1px -10px 0 0 var(--bg-color); */
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    right: -20px;
    background: transparent;
    border-top-left-radius: 1.5rem;
    /* box-shadow: -1px -10px 0 0 var(--bg-color); */
}

.navigation .item-list .item:nth-child(1).active~.indicator {
    transform: translateX(calc(70px * 0));
}

.navigation .item-list .item:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}

.navigation .item-list .item:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}

.navigation .item-list .item:nth-child(4).active~.indicator {
    transform: translateX(calc(70px * 3));
}

.navigation .item-list .item:nth-child(5).active~.indicator {
    transform: translateX(calc(70px * 4));
}

/* ======footer end===== */

.download_qr {
    width: 80%;
    margin: auto;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 1.125rem;
    border: 1px solid var(--primary-color, #2F8AB2);
    background: #FFF;
    box-shadow: 4px 6px 25px 7px rgba(0, 0, 0, 0.15);
}

.main-qr svg {
    color: var(--text-color);
}

.qr_lock {
    position: relative;
}

.lock {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.qr_new {
    filter: blur(8px);
}

.box-model {
    padding: 0em 1.5em 0em 1.5em;
}
hr {
    border: 1px solid var(--border-color);
    border-width: 0.0625rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

a {
    color: var(--text-color);
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--primary-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--primary-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.bg-2 {
    background-color: var(--bg-2);
}

/* device page */
.device-box {
    position: relative;
    width: 117px;
    height: 100px;
    padding: 1.5em;
    border-radius: 1.5em;
    box-shadow: var(--box-shadow);
}
.device-no {
    position: absolute;
    right: 0.2em;
    top: 0.2em;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(224, 224, 224);
}
.device-item {
    position: absolute;
    bottom: 1em;
}

.device-item h2 {
    font-weight: 600;
    font-size: 1rem;
    line-height: normal;
}

.device-item p {
    font-size: 0.75rem;
    letter-spacing: 0.2p5;
}


.active-device {
    border: 2px solid var(--primary-color);
}

@media screen and (max-width:420px) {
    .device-box {
        width: 100px;
        height: 90px;
    }
}

/* very small */
@media screen and (max-width:350px) {
    .device-box {
        width: 70px;
        height: 50px;
    }
    .device-no {
        font-size: 1.5rem;
    }
}
.btn-setting {
    padding: 1rem;
    background-color: var(--primary-color);
    width: 80%;
    margin: auto;
    border-radius: 0.5rem;
    color: #fff;
}
.faq-box {
    width: 9rem;
    height: 7.25rem;
    border-radius: 0.5rem;
    padding: 1em;
}
.faq-box p {
    width: 9rem;
}

#faq-ques {
    overflow-x: auto;
}

.question-box {
    color: var(--text-color);
    background: var(--bg-box-color);
    border: 0.1px solid #D5D5D5;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
}
.question {
    width: 90%;
    font-size: 0.875rem;
    font-weight: 500;
}
@media screen and (max-width:420px) {
    .faq-box {
        width: 7rem;
        height: 5.25rem;
    }
    .faq-box p {
        width: 7rem;
    }
}
@media screen and (max-width: 768px) {
    .question {
        font-size: 1em;
    }
}
.ans {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
}
.ans p {
    border-top: 1px solid var(--inactive-1);
    padding: 1.5em 1.5em 1.5em;
    width: calc(100% - 3em);
    color: var(--sub-text-color);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.01563rem;
}
.question-box .minus,.question-box.active .plus  {
    display: none;
}
.question-box.active .ans {
    max-height: 30em;
}
.question-box.active .minus {
    display: flex;
}
.notification-box {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    height: 4.5em;
    position: relative;
    border-bottom: 1px solid var(--border-color)
}
.notification-box:hover {
    background: var(--bg-1);
}
.notification-box p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}
.notification-box span {
    font-weight: 600;
}
.notification-time {
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.notification-time p {
    font-size: 0.625rem;
    font-weight: 400;
}
/* Message page */
.message-search {
    height: 2.25rem;
    padding: 0 0.5em 0 0.5em;
    background-color: var(--bg-1);
    border-radius: 0.5rem;
}
.message-box {
    position: relative;
    padding: 1rem;
    height: 3.625rem;
    align-items: center;
}
#message-page .message-box {
    padding: 1rem 1.5em 1rem 1.5rem;
}
.message-box:hover {
    background-color: var(--bg-1);
}
.message-box p {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}
.message-time {
    position: absolute;
    top: 20%;
    right: 5%;
}
.message-box img {
    margin-top: 0;
}
/* model box pop up */
.modal {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--bg-1);
    transition: bottom 0.5s ease-out;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 10;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: none;
    z-index: 1; /* Ensure the overlay is above the modal */
}
.modal-content {
    position: relative;
    padding: 20px;
    width: calc(100% - 40px);
    z-index: 2;
}
.model-content.model-open{
    bottom: 0;
}
.modal-content.close-btn {
    position: absolute;
    right: 5%;
    top: 5%;
    padding: 0.5em;
    border-radius: 50%;
    background-color: var(--bg-2);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.modal-trigger {
    cursor: pointer;
}
/* tab item */
.setting-top-nav {
    padding: 0.2em;
}
.tab-item {
    padding: 0.6em 1.5em 0.6em 1.5em;
    width: calc(100% - 2em);
    cursor: pointer;
    color: var(--inactive-1);
    font-weight: 500;
}
.tab-item.active-tab {
    border-radius: 0.5em;
    background-color: var(--tab-hover);
    color: var(--text-color);
    box-shadow: 0px 0px 8px 0px rgba(20, 20, 20, 0.08), 0px 0px 1px 0px rgba(20, 20, 20, 0.04);
    border-left: none;
    border-right: none;
}
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.pop-up-setting {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}

.pop-up-setting.active-pop {
    display: flex;
    animation: slideUp 0.3s ease forwards;
    bottom: 40%;
}

@keyframes slideUp {
    from {
        transform: translate(-50%, 100%);
    }
    to {
        transform: translate(-50%, 0);
    }
}


@media screen and (max-width:400px) {
    .tab-item {
        font-size: 0.875rem;
    }
}

.popup-content {
    background-color: var(--bg-color);
    padding: 1.5em;
    max-width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.scale {
    width: 100%;
    height: 20px;
    position: relative;
    background: linear-gradient(to right, transparent 0%, transparent 10%, #ccc 10%, #ccc 30%, transparent 30%, transparent 40%, #ccc 40%, #ccc 60%, transparent 60%, transparent 80%, #ccc 80%, #ccc 100%);
    border-radius: 5px;
    margin-top: 10px;
}

.slider-value {
    text-align: center;
    margin-top: -0.625rem;
}

/* login dropdown */
.country-code-dropdown select {
    background-color: var(--bg-color);
    color: var(--text-color);
    outline: none;
    border: none;
    font-size: var(--f-14);
}

/* four button */

.sender,
.receiver {
    max-width: 99%;
    line-height: 1.5em;
    font-size: 0.88rem;
    font-weight: 400;
}
.sender {
    position: relative;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: flex-start;
    max-width: 80%;
    margin-left: auto;
}
.receiver {
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 80%;
    margin-right: auto;
}
.message-time-chat {
    position: absolute;
    right: 5%;
    bottom: 0;
    font-size: 0.6875rem;
    color: var(--inactive-1);
}
.receiver-text {
    padding: 0.8em;
    padding-bottom: 1.7em;
    background-color: var(--bg-color);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    font-size: 14.2px !important;
    line-height: 19px !important;
}
.sender-text {
    padding: 0.8em;
    padding-bottom: 1.7em;
    background-color: var(--primary-color);
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    color: #FFFFFF;
    font-size: 14.2px !important;
    line-height: 19px !important;
}
.sender-text .message-time-chat {
    color: #e6e5e5;
}
.sender-text.sender-img {
    background: none;
    border: 1px solid var(--border-color);
}
.sender-text.sender-document,
.receiver-text.receiver-document {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    gap: 0.5em;
    /* border: 1px solid var(--border-color); */
}
.receiver-text.receiver-document {
    display: flex;
    flex-direction: row;
}
.sender-document span {
    font-size: 0.885em;
    color: #FFF;
}
.receiver-document span {
    font-size: 0.885em;
    color: var(--text-color);
}
.replied{
    padding: 0.5em;
    background: var(--primary-off);
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}
.replied-me{
    background-color: var(--bg-1);
}
.chat-btn {
    padding: 0.5em;
    background-color: var(--bg-2);
    border-radius: 0.5em;
    border: 1px solid var(--border-color);
}
.page-hide {
    display: none;
}
/* common dropdown */
.dropdown-holder {
    position: relative;

}
.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--bg-1);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 9999;
    font-weight: 500;
    white-space: nowrap;
    display: none;
    z-index: 9999;
}

.dropdown p,.dropdown a  {
    padding: 0.5em 1.2em 0.5em 1.2em;
    border-radius: 0.5em;
    display: block;
}

.dropdown p:hover,.dropdown a:hover {
    background-color: var(--tab-bg);
}

.three-dot {
    position: absolute;
    right: -10%;
    top: 2%;
}

.message-options-elements {
    padding: 0.5em 1em 0.5em 1em;
}
.message-options {
    position: absolute;
    right: -65%;
    top: 0;
    background: var(--bg-color);
    border-radius: 0.5em;
    display: none;
    outline: none;

}
.sender-text .three-dot {
    left: -10%;
    top:0;
}

.sender-text .message-options {
    right: 115%;
    top: -5%;
}
.three-dot:focus+.message-options,
.three-dot:hover+.message-options,
.message-options:hover {
    display: flex;
}
.dropdown-trigger:focus+.dropdown,
.dropdown-trigger:hover+.dropdown,
.dropdown:hover {
    display: block;
}
.short-padding {
    padding: 0.8em;
    border-radius: 0.5em;
}
.mic-send .send {
    display: none;
}
.chat-send {
    background: var(--bg-1);
    border-radius: 0.5em;
}

.chat-send input {
    line-height: 1.5em;
}

.chat-send:focus-within+.mic-send .send {
    display: flex;
}

.chat-send:focus-within+.mic-send .mic {
    display: none;
}

.all-content h4 {
    margin-top: 0em;
    margin-bottom: 0em;
    color: var(--text-color);
    font-size: 2em;
    line-height: 1.18em;
    font-weight: 700;
}

.bullet {
    color: var(--text-color);
    display: flex;
    align-items: start;
    gap: 0.5em;
    font-weight: 400;
}

.under-sub {
    width: 90%;
    margin: auto;
}

.hover-2:hover {
    background-color: var(--tab-bg);
}

.hover:hover {
    background-color: var(--bg-1);
}

/* Dropdown container styles */
.attachment-dropdown {
    position: relative;

}

/* Dropdown content styles */
.dropdown-content {
    display: none;
    position: absolute;
    background: var(--bg-1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: -220%;
    right: 0;
    border-radius: 0.5em;


}

.emoji-option {
    font-size: 1.5em;
    padding: 5px;
    cursor: pointer;
}

.emoji-content {
    min-width: 280px;
    height: 200px;
    overflow: auto;
    top: -420%;
    left: 0;
    padding: 0.2em;
}
/* Dropdown item styles */
.dropdown-content a {
    padding: 12px 16px;
    color: var(--text-color);
    text-decoration: none;
    white-space: nowrap;
    border-radius: 0.5em;
    cursor: pointer;
}
.dropdown-content a:hover {
    background: var(--tab-bg);
}
/* Show dropdown content when hover over the attachment icon */
.attachment-dropdown:hover .dropdown-content {
    display: block;
}
.danger{
    background: rgb(202, 4, 4);
    color: #ffffff;
}
/* .bg-chat{
    width: 100vw;
    height: 100vh;
    background: var(--chat-bg);
    background-size: cover;
    z-index:-5;
    position: fixed;
} */
.plan-card {
    width:280px;
}
.plan-card h1{
    font-size: 1.5em;
    color: var(--primary-color);
}
#main-msg{
    font-family: 'Inter', sans-serif;
    background: var(--bg-1);
    outline: none;
    border: none;
    color: var(--text-color);
    font-size: 16px;
 padding: 0.5em;
 padding-left: 0;
 font-weight: 400;
    vertical-align: center;
}
.img-box {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: var(--product);
    cursor: pointer;
}
.message-box img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    max-width: 100%;
   
   
}


@media screen and (max-width:380px) {
    .img-box {
        width: 130px;
        height: 100px;
    }
}